Instala as bibliotecas

In [1]:
pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.12/site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (3.3.2)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

Importar as bibliotecas

In [3]:
import psycopg2
print(psycopg2.__version__)

2.9.11 (dt dec pq3 ext lo64)

In [4]:
import pandas as pd
pd.set_option("display.max_colwidth", 150)
pd.set_option("display.min_rows", 20)

from sqlalchemy import create_engine
from datetime import datetime, timedelta
import time

Definir função para buscar os dados

In [5]:
def busca_titulos_tesouro_direto():
    url = 'https://www.tesourotransparente.gov.br/ckan/dataset/df56aa42-484a-4a59-8184-7676580c81e3/resource/796d2059-14e9-44e3-80c9-2d9e30b405c1/download/PrecoTaxaTesouroDireto.csv'
    df = pd.read_csv(url, sep=';', decimal=',')
    df['Data_Vencimento'] = pd.to_datetime(df['Data Vencimento'], dayfirst=True)
    df['Data_Base'] = pd.to_datetime(df['Data Base'], dayfirst=True)
    multi_indice = pd.MultiIndex.from_frame(df.iloc[:,:3])
    df = df.set_index(multi_indice).iloc[:, 3:]
    return df

Busca os títulos do Tesouro Direto

In [6]:
titulos = busca_titulos_tesouro_direto()

In [7]:
titulos

                                                                   Taxa Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IGPM+ com Juros Semestrais     01/01/2031      19/01/2005               8.25
                                       01/04/2021      19/01/2005               8.26
                                       01/07/2017      19/01/2005               8.26
Tesouro Prefixado com Juros Semestrais 01/01/2008      19/01/2005              17.77
Tesouro Selic                          18/06/2008      18/01/2005               0.29
                                       17/01/2007      18/01/2005               0.19
                                       18/03/2009      18/01/2005               0.33
                                       18/01/2006      18/01/2005               0.12
                                       16/02/2005      18/01/2005               0.01
Tesouro Prefixado                      01/04/2005      18/01/2005              18.59
...                                                                              ...
Tesouro IPCA+ com Juros Semestrais     15/08/2050      16/08/2012               4.45
                                       15/05/2013      16/08/2012               1.22
                                       15/05/2035      16/08/2012               4.30
                                       15/08/2024      16/08/2012               4.06
                                       15/05/2017      16/08/2012               3.56
Tesouro IPCA+                          15/08/2024      16/08/2012               4.15
                                       15/05/2035      16/08/2012               4.43
                                       15/05/2015      16/08/2012               3.01
Tesouro IGPM+ com Juros Semestrais     01/04/2021      16/08/2012               3.97
                                       01/07/2017      16/08/2012               3.58

                                                                   Taxa Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IGPM+ com Juros Semestrais     01/01/2031      19/01/2005              8.35
                                       01/04/2021      19/01/2005              8.34
                                       01/07/2017      19/01/2005              8.34
Tesouro Prefixado com Juros Semestrais 01/01/2008      19/01/2005             17.87
Tesouro Selic                          18/06/2008      18/01/2005              0.37
                                       17/01/2007      18/01/2005              0.23
                                       18/03/2009      18/01/2005              0.41
                                       18/01/2006      18/01/2005              0.14
                                       16/02/2005      18/01/2005              0.03
Tesouro Prefixado                      01/04/2005      18/01/2005             18.63
...                                                                             ...
Tesouro IPCA+ com Juros Semestrais     15/08/2050      16/08/2012              4.55
                                       15/05/2013      16/08/2012              1.24
                                       15/05/2035      16/08/2012              4.40
                                       15/08/2024      16/08/2012              4.14
                                       15/05/2017      16/08/2012              3.60
Tesouro IPCA+                          15/08/2024      16/08/2012              4.23
                                       15/05/2035      16/08/2012              4.53
                                       15/05/2015      16/08/2012              3.05
Tesouro IGPM+ com Juros Semestrais     01/04/2021      16/08/2012              4.03
                                       01/07/2017      16/08/2012              3.62

                                                                   PU Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IGPM+ com Juros Semestrais     01/01/2031      19/01/2005          2524.81
                                       01/04/2021      19/01/2005          1492.31
                                       01/07/2017      19/01/2005          1511.86
Tesouro Prefixado com Juros Semestrais 01/01/2008      19/01/2005           844.29
Tesouro Selic                          18/06/2008      18/01/2005          2158.45
                                       17/01/2007      18/01/2005          2171.50
                                       18/03/2009      18/01/2005          2150.16
                                       18/01/2006      18/01/2005          2177.08
                                       16/02/2005      18/01/2005          2179.66
Tesouro Prefixado                      01/04/2005      18/01/2005           967.39
...                                                                            ...
Tesouro IPCA+ com Juros Semestrais     15/08/2050      16/08/2012          2776.65
                                       15/05/2013      16/08/2012          2275.14
                                       15/05/2035      16/08/2012          2725.85
                                       15/08/2024      16/08/2012          2558.58
                                       15/05/2017      16/08/2012          2425.13
Tesouro IPCA+                          15/08/2024      16/08/2012          1333.16
                                       15/05/2035      16/08/2012           811.58
                                       15/05/2015      16/08/2012          1998.26
Tesouro IGPM+ com Juros Semestrais     01/04/2021      16/08/2012          3164.72
                                       01/07/2017      16/08/2012          3017.57

                                                                   PU Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IGPM+ com Juros Semestrais     01/01/2031      19/01/2005         2500.41
                                       01/04/2021      19/01/2005         1481.67
                                       01/07/2017      19/01/2005         1502.37
Tesouro Prefixado com Juros Semestrais 01/01/2008      19/01/2005          842.45
Tesouro Selic                          18/06/2008      18/01/2005         2152.63
                                       17/01/2007      18/01/2005         2169.79
                                       18/03/2009      18/01/2005         2143.08
                                       18/01/2006      18/01/2005         2176.65
                                       16/02/2005      18/01/2005         2179.63
Tesouro Prefixado                      01/04/2005      18/01/2005          967.32
...                                                                           ...
Tesouro IPCA+ com Juros Semestrais     15/08/2050      16/08/2012         2730.09
                                       15/05/2013      16/08/2012         2274.83
                                       15/05/2035      16/08/2012         2690.58
                                       15/08/2024      16/08/2012         2540.93
                                       15/05/2017      16/08/2012         2421.24
Tesouro IPCA+                          15/08/2024      16/08/2012         1320.99
                                       15/05/2035      16/08/2012          794.17
                                       15/05/2015      16/08/2012         1996.14
Tesouro IGPM+ com Juros Semestrais     01/04/2021      16/08/2012         3152.25
                                       01/07/2017      16/08/2012         3012.58

                                                                   PU Base Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IGPM+ com Juros Semestrais     01/01/2031      19/01/2005        2499.12
                                       01/04/2021      19/01/2005        1480.91
                                       01/07/2017      19/01/2005        1501.60
Tesouro Prefixado com Juros Semestrais 01/01/2008      19/01/2005         841.90
Tesouro Selic                          18/06/2008      18/01/2005        2151.21
                                       17/01/2007      18/01/2005        2168.36
                                       18/03/2009      18/01/2005        2141.65
                                       18/01/2006      18/01/2005        2175.22
                                       16/02/2005      18/01/2005        2178.22
Tesouro Prefixado                      01/04/2005      18/01/2005         966.67
...                                                                          ...
Tesouro IPCA+ com Juros Semestrais     15/08/2050      16/08/2012        2729.28
                                       15/05/2013      16/08/2012        2274.44
                                       15/05/2035      16/08/2012        2689.80
                                       15/08/2024      16/08/2012        2540.22
                                       15/05/2017      16/08/2012        2420.61
Tesouro IPCA+                          15/08/2024      16/08/2012        1320.62
                                       15/05/2035      16/08/2012         793.94
                                       15/05/2015      16/08/2012        1995.66
Tesouro IGPM+ com Juros Semestrais     01/04/2021      16/08/2012        3150.47
                                       01/07/2017      16/08/2012        3010.93

                                                                  Data_Vencimento  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro IGPM+ com Juros Semestrais     01/01/2031      19/01/2005      2031-01-01
                                       01/04/2021      19/01/2005      2021-04-01
                                       01/07/2017      19/01/2005      2017-07-01
Tesouro Prefixado com Juros Semestrais 01/01/2008      19/01/2005      2008-01-01
Tesouro Selic                          18/06/2008      18/01/2005      2008-06-18
                                       17/01/2007      18/01/2005      2007-01-17
                                       18/03/2009      18/01/2005      2009-03-18
                                       18/01/2006      18/01/2005      2006-01-18
                                       16/02/2005      18/01/2005      2005-02-16
Tesouro Prefixado                      01/04/2005      18/01/2005      2005-04-01
...                                                                           ...
Tesouro IPCA+ com Juros Semestrais     15/08/2050      16/08/2012      2050-08-15
                                       15/05/2013      16/08/2012      2013-05-15
                                       15/05/2035      16/08/2012      2035-05-15
                                       15/08/2024      16/08/2012      2024-08-15
                                       15/05/2017      16/08/2012      2017-05-15
Tesouro IPCA+                          15/08/2024      16/08/2012      2024-08-15
                                       15/05/2035      16/08/2012      2035-05-15
                                       15/05/2015      16/08/2012      2015-05-15
Tesouro IGPM+ com Juros Semestrais     01/04/2021      16/08/2012      2021-04-01
                                       01/07/2017      16/08/2012      2017-07-01

                                                                   Data_Base
Tipo Titulo                            Data Vencimento Data Base
Tesouro IGPM+ com Juros Semestrais     01/01/2031      19/01/2005 2005-01-19
                                       01/04/2021      19/01/2005 2005-01-19
                                       01/07/2017      19/01/2005 2005-01-19
Tesouro Prefixado com Juros Semestrais 01/01/2008      19/01/2005 2005-01-19
Tesouro Selic                          18/06/2008      18/01/2005 2005-01-18
                                       17/01/2007      18/01/2005 2005-01-18
                                       18/03/2009      18/01/2005 2005-01-18
                                       18/01/2006      18/01/2005 2005-01-18
                                       16/02/2005      18/01/2005 2005-01-18
Tesouro Prefixado                      01/04/2005      18/01/2005 2005-01-18
...                                                                      ...
Tesouro IPCA+ com Juros Semestrais     15/08/2050      16/08/2012 2012-08-16
                                       15/05/2013      16/08/2012 2012-08-16
                                       15/05/2035      16/08/2012 2012-08-16
                                       15/08/2024      16/08/2012 2012-08-16
                                       15/05/2017      16/08/2012 2012-08-16
Tesouro IPCA+                          15/08/2024      16/08/2012 2012-08-16
                                       15/05/2035      16/08/2012 2012-08-16
                                       15/05/2015      16/08/2012 2012-08-16
Tesouro IGPM+ com Juros Semestrais     01/04/2021      16/08/2012 2012-08-16
                                       01/07/2017      16/08/2012 2012-08-16

[167855 rows x 7 columns]

Busca somente os Préfixados

In [8]:
prefixado = titulos.loc[('Tesouro Prefixado')]
prefixado['Tipo'] = "PRE-FIXADOS"

In [9]:
prefixado

                            Taxa Compra Manha  Taxa Venda Manha  \
Data Vencimento Data Base
01/04/2005      18/01/2005              18.59             18.63
01/07/2005      18/01/2005              18.90             18.94
01/10/2005      18/01/2005              18.90             18.96
01/01/2006      18/01/2005              18.64             18.70
01/07/2006      18/01/2005              18.23             18.31
01/04/2005      17/01/2005              18.51             18.55
01/07/2005      17/01/2005              18.81             18.85
01/10/2005      17/01/2005              18.76             18.82
01/01/2006      17/01/2005              18.48             18.54
01/07/2006      17/01/2005              18.07             18.15
...                                       ...               ...
01/01/2016      20/08/2012               9.00              9.06
01/01/2013      20/08/2012               7.34              7.37
                17/08/2012               7.37              7.40
01/01/2014      17/08/2012               7.94              7.98
01/01/2016      17/08/2012               9.04              9.10
01/01/2015      17/08/2012               8.55              8.61
01/01/2014      16/08/2012               7.82              7.86
01/01/2015      16/08/2012               8.41              8.47
01/01/2016      16/08/2012               8.91              8.97
01/01/2013      16/08/2012               7.31              7.34

                            PU Compra Manha  PU Venda Manha  PU Base Manha  \
Data Vencimento Data Base
01/04/2005      18/01/2005           967.39          967.32         966.67
01/07/2005      18/01/2005           925.94          925.80         925.17
01/10/2005      18/01/2005           885.51          885.19         884.58
01/01/2006      18/01/2005           850.35          849.94         849.36
01/07/2006      18/01/2005           785.66          784.90         784.37
01/04/2005      17/01/2005           966.86          966.80         966.14
01/07/2005      17/01/2005           925.62          925.48         924.85
01/10/2005      17/01/2005           885.63          885.32         884.71
01/01/2006      17/01/2005           850.86          850.45         849.88
01/07/2006      17/01/2005           786.68          785.91         785.39
...                                     ...             ...            ...
01/01/2016      20/08/2012           748.77          747.39         747.14
01/01/2013      20/08/2012           975.02          974.92         974.64
                17/08/2012           974.64          974.54         974.27
01/01/2014      17/08/2012           900.95          900.50         900.22
01/01/2016      17/08/2012           747.60          746.21         745.96
01/01/2015      17/08/2012           823.36          822.28         822.01
01/01/2014      16/08/2012           902.05          901.59         901.32
01/01/2015      16/08/2012           825.61          824.53         824.27
01/01/2016      16/08/2012           750.35          748.96         748.70
01/01/2013      16/08/2012           974.57          974.47         974.19

                           Data_Vencimento  Data_Base         Tipo
Data Vencimento Data Base
01/04/2005      18/01/2005      2005-04-01 2005-01-18  PRE-FIXADOS
01/07/2005      18/01/2005      2005-07-01 2005-01-18  PRE-FIXADOS
01/10/2005      18/01/2005      2005-10-01 2005-01-18  PRE-FIXADOS
01/01/2006      18/01/2005      2006-01-01 2005-01-18  PRE-FIXADOS
01/07/2006      18/01/2005      2006-07-01 2005-01-18  PRE-FIXADOS
01/04/2005      17/01/2005      2005-04-01 2005-01-17  PRE-FIXADOS
01/07/2005      17/01/2005      2005-07-01 2005-01-17  PRE-FIXADOS
01/10/2005      17/01/2005      2005-10-01 2005-01-17  PRE-FIXADOS
01/01/2006      17/01/2005      2006-01-01 2005-01-17  PRE-FIXADOS
01/07/2006      17/01/2005      2006-07-01 2005-01-17  PRE-FIXADOS
...                                    ...        ...          ...
01/01/2016      20/08/2012      2016-01-01 2012-08-20  PRE-FIXADOS
01/01/2013      20/08/2012      2013-01-01 2012-08-20  PRE-FIXADOS
                17/08/2012      2013-01-01 2012-08-17  PRE-FIXADOS
01/01/2014      17/08/2012      2014-01-01 2012-08-17  PRE-FIXADOS
01/01/2016      17/08/2012      2016-01-01 2012-08-17  PRE-FIXADOS
01/01/2015      17/08/2012      2015-01-01 2012-08-17  PRE-FIXADOS
01/01/2014      16/08/2012      2014-01-01 2012-08-16  PRE-FIXADOS
01/01/2015      16/08/2012      2015-01-01 2012-08-16  PRE-FIXADOS
01/01/2016      16/08/2012      2016-01-01 2012-08-16  PRE-FIXADOS
01/01/2013      16/08/2012      2013-01-01 2012-08-16  PRE-FIXADOS

[27410 rows x 8 columns]

In [10]:
for i, row in prefixado.iterrows():
    ifor_val = datetime.now() - timedelta(hours=1, minutes=0)
    prefixado.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

In [11]:
prefixado

                            Taxa Compra Manha  Taxa Venda Manha  \
Data Vencimento Data Base
01/04/2005      18/01/2005              18.59             18.63
01/07/2005      18/01/2005              18.90             18.94
01/10/2005      18/01/2005              18.90             18.96
01/01/2006      18/01/2005              18.64             18.70
01/07/2006      18/01/2005              18.23             18.31
01/04/2005      17/01/2005              18.51             18.55
01/07/2005      17/01/2005              18.81             18.85
01/10/2005      17/01/2005              18.76             18.82
01/01/2006      17/01/2005              18.48             18.54
01/07/2006      17/01/2005              18.07             18.15
...                                       ...               ...
01/01/2016      20/08/2012               9.00              9.06
01/01/2013      20/08/2012               7.34              7.37
                17/08/2012               7.37              7.40
01/01/2014      17/08/2012               7.94              7.98
01/01/2016      17/08/2012               9.04              9.10
01/01/2015      17/08/2012               8.55              8.61
01/01/2014      16/08/2012               7.82              7.86
01/01/2015      16/08/2012               8.41              8.47
01/01/2016      16/08/2012               8.91              8.97
01/01/2013      16/08/2012               7.31              7.34

                            PU Compra Manha  PU Venda Manha  PU Base Manha  \
Data Vencimento Data Base
01/04/2005      18/01/2005           967.39          967.32         966.67
01/07/2005      18/01/2005           925.94          925.80         925.17
01/10/2005      18/01/2005           885.51          885.19         884.58
01/01/2006      18/01/2005           850.35          849.94         849.36
01/07/2006      18/01/2005           785.66          784.90         784.37
01/04/2005      17/01/2005           966.86          966.80         966.14
01/07/2005      17/01/2005           925.62          925.48         924.85
01/10/2005      17/01/2005           885.63          885.32         884.71
01/01/2006      17/01/2005           850.86          850.45         849.88
01/07/2006      17/01/2005           786.68          785.91         785.39
...                                     ...             ...            ...
01/01/2016      20/08/2012           748.77          747.39         747.14
01/01/2013      20/08/2012           975.02          974.92         974.64
                17/08/2012           974.64          974.54         974.27
01/01/2014      17/08/2012           900.95          900.50         900.22
01/01/2016      17/08/2012           747.60          746.21         745.96
01/01/2015      17/08/2012           823.36          822.28         822.01
01/01/2014      16/08/2012           902.05          901.59         901.32
01/01/2015      16/08/2012           825.61          824.53         824.27
01/01/2016      16/08/2012           750.35          748.96         748.70
01/01/2013      16/08/2012           974.57          974.47         974.19

                           Data_Vencimento  Data_Base         Tipo  \
Data Vencimento Data Base
01/04/2005      18/01/2005      2005-04-01 2005-01-18  PRE-FIXADOS
01/07/2005      18/01/2005      2005-07-01 2005-01-18  PRE-FIXADOS
01/10/2005      18/01/2005      2005-10-01 2005-01-18  PRE-FIXADOS
01/01/2006      18/01/2005      2006-01-01 2005-01-18  PRE-FIXADOS
01/07/2006      18/01/2005      2006-07-01 2005-01-18  PRE-FIXADOS
01/04/2005      17/01/2005      2005-04-01 2005-01-17  PRE-FIXADOS
01/07/2005      17/01/2005      2005-07-01 2005-01-17  PRE-FIXADOS
01/10/2005      17/01/2005      2005-10-01 2005-01-17  PRE-FIXADOS
01/01/2006      17/01/2005      2006-01-01 2005-01-17  PRE-FIXADOS
01/07/2006      17/01/2005      2006-07-01 2005-01-17  PRE-FIXADOS
...                                    ...        ...          ...
01/01/2016      20/08/2012      2016-01-01 2012-08-20  PRE-FIXADOS
01/01/2013      20/08/2012      2013-01-01 2012-08-20  PRE-FIXADOS
                17/08/2012      2013-01-01 2012-08-17  PRE-FIXADOS
01/01/2014      17/08/2012      2014-01-01 2012-08-17  PRE-FIXADOS
01/01/2016      17/08/2012      2016-01-01 2012-08-17  PRE-FIXADOS
01/01/2015      17/08/2012      2015-01-01 2012-08-17  PRE-FIXADOS
01/01/2014      16/08/2012      2014-01-01 2012-08-16  PRE-FIXADOS
01/01/2015      16/08/2012      2015-01-01 2012-08-16  PRE-FIXADOS
01/01/2016      16/08/2012      2016-01-01 2012-08-16  PRE-FIXADOS
01/01/2013      16/08/2012      2013-01-01 2012-08-16  PRE-FIXADOS

                                            dt_update
Data Vencimento Data Base
01/04/2005      18/01/2005 2026-02-25 16:15:40.553152
01/07/2005      18/01/2005 2026-02-25 16:15:40.564354
01/10/2005      18/01/2005 2026-02-25 16:15:40.564993
01/01/2006      18/01/2005 2026-02-25 16:15:40.565449
01/07/2006      18/01/2005 2026-02-25 16:15:40.566062
01/04/2005      17/01/2005 2026-02-25 16:15:40.566540
01/07/2005      17/01/2005 2026-02-25 16:15:40.566966
01/10/2005      17/01/2005 2026-02-25 16:15:40.567401
01/01/2006      17/01/2005 2026-02-25 16:15:40.567801
01/07/2006      17/01/2005 2026-02-25 16:15:40.568197
...                                               ...
01/01/2016      20/08/2012 2026-02-25 16:15:53.295975
01/01/2013      20/08/2012 2026-02-25 16:15:53.296694
                17/08/2012 2026-02-25 16:15:53.297188
01/01/2014      17/08/2012 2026-02-25 16:15:53.297620
01/01/2016      17/08/2012 2026-02-25 16:15:53.298248
01/01/2015      17/08/2012 2026-02-25 16:15:53.298756
01/01/2014      16/08/2012 2026-02-25 16:15:53.299223
01/01/2015      16/08/2012 2026-02-25 16:15:53.299683
01/01/2016      16/08/2012 2026-02-25 16:15:53.300396
01/01/2013      16/08/2012 2026-02-25 16:15:53.301175

[27410 rows x 9 columns]

Busca os IPCAs

In [12]:
ipca = titulos.loc[('Tesouro IPCA+')]
ipca['Tipo'] = "IPCA"

In [13]:
for i, row in ipca.iterrows():
    ifor_val = datetime.now() - timedelta(hours=1, minutes=0)
    ipca.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

In [14]:
ipca

                            Taxa Compra Manha  Taxa Venda Manha  \
Data Vencimento Data Base
15/05/2015      15/08/2005               8.74              8.80
15/08/2024      15/08/2005               8.82              8.90
15/05/2015      12/08/2005               8.74              8.80
15/08/2024      12/08/2005               8.82              8.90
                11/08/2005               8.82              8.90
15/05/2015      11/08/2005               8.73              8.79
                26/07/2005               8.73              8.79
15/08/2024      26/07/2005               8.82              8.90
15/05/2015      25/07/2005               8.73              8.79
15/08/2024      25/07/2005               8.82              8.90
...                                       ...               ...
15/05/2035      21/08/2012               4.48              4.58
15/05/2015      20/08/2012               3.15              3.19
15/05/2035      20/08/2012               4.44              4.54
15/08/2024      20/08/2012               4.18              4.26
                17/08/2012               4.21              4.29
15/05/2015      17/08/2012               3.14              3.18
15/05/2035      17/08/2012               4.46              4.56
15/08/2024      16/08/2012               4.15              4.23
15/05/2035      16/08/2012               4.43              4.53
15/05/2015      16/08/2012               3.01              3.05

                            PU Compra Manha  PU Venda Manha  PU Base Manha  \
Data Vencimento Data Base
15/05/2015      15/08/2005           681.12          677.48         677.18
15/08/2024      15/08/2005           310.37          306.08         305.94
15/05/2015      12/08/2005           680.82          677.18         676.73
15/08/2024      12/08/2005           310.23          305.94         305.74
                11/08/2005           310.05          305.76         305.64
15/05/2015      11/08/2005           681.04          677.40         677.12
                26/07/2005           677.51          673.87         673.58
15/08/2024      26/07/2005           308.43          304.16         304.03
15/05/2015      25/07/2005           677.22          673.58         673.30
15/08/2024      25/07/2005           308.30          304.03         303.90
...                                     ...             ...            ...
15/05/2035      21/08/2012           803.72          786.50         786.27
15/05/2015      20/08/2012          1992.30         1990.20        1989.71
15/05/2035      20/08/2012           810.49          793.11         792.87
15/08/2024      20/08/2012          1329.65         1317.52        1317.15
                17/08/2012          1324.71         1312.63        1311.94
15/05/2015      17/08/2012          1992.35         1990.24        1989.28
15/05/2035      17/08/2012           806.74          789.45         789.02
15/08/2024      16/08/2012          1333.16         1320.99        1320.62
15/05/2035      16/08/2012           811.58          794.17         793.94
15/05/2015      16/08/2012          1998.26         1996.14        1995.66

                           Data_Vencimento  Data_Base  Tipo  \
Data Vencimento Data Base
15/05/2015      15/08/2005      2015-05-15 2005-08-15  IPCA
15/08/2024      15/08/2005      2024-08-15 2005-08-15  IPCA
15/05/2015      12/08/2005      2015-05-15 2005-08-12  IPCA
15/08/2024      12/08/2005      2024-08-15 2005-08-12  IPCA
                11/08/2005      2024-08-15 2005-08-11  IPCA
15/05/2015      11/08/2005      2015-05-15 2005-08-11  IPCA
                26/07/2005      2015-05-15 2005-07-26  IPCA
15/08/2024      26/07/2005      2024-08-15 2005-07-26  IPCA
15/05/2015      25/07/2005      2015-05-15 2005-07-25  IPCA
15/08/2024      25/07/2005      2024-08-15 2005-07-25  IPCA
...                                    ...        ...   ...
15/05/2035      21/08/2012      2035-05-15 2012-08-21  IPCA
15/05/2015      20/08/2012      2015-05-15 2012-08-20  IPCA
15/05/2035      20/08/2012      2035-05-15 2012-08-20  IPCA
15/08/2024      20/08/2012      2024-08-15 2012-08-20  IPCA
                17/08/2012      2024-08-15 2012-08-17  IPCA
15/05/2015      17/08/2012      2015-05-15 2012-08-17  IPCA
15/05/2035      17/08/2012      2035-05-15 2012-08-17  IPCA
15/08/2024      16/08/2012      2024-08-15 2012-08-16  IPCA
15/05/2035      16/08/2012      2035-05-15 2012-08-16  IPCA
15/05/2015      16/08/2012      2015-05-15 2012-08-16  IPCA

                                            dt_update
Data Vencimento Data Base
15/05/2015      15/08/2005 2026-02-25 16:15:53.446347
15/08/2024      15/08/2005 2026-02-25 16:15:53.449422
15/05/2015      12/08/2005 2026-02-25 16:15:53.450494
15/08/2024      12/08/2005 2026-02-25 16:15:53.451385
                11/08/2005 2026-02-25 16:15:53.451854
15/05/2015      11/08/2005 2026-02-25 16:15:53.452254
                26/07/2005 2026-02-25 16:15:53.452642
15/08/2024      26/07/2005 2026-02-25 16:15:53.453165
15/05/2015      25/07/2005 2026-02-25 16:15:53.453661
15/08/2024      25/07/2005 2026-02-25 16:15:53.454116
...                                               ...
15/05/2035      21/08/2012 2026-02-25 16:16:01.065789
15/05/2015      20/08/2012 2026-02-25 16:16:01.066251
15/05/2035      20/08/2012 2026-02-25 16:16:01.066582
15/08/2024      20/08/2012 2026-02-25 16:16:01.066900
                17/08/2012 2026-02-25 16:16:01.067214
15/05/2015      17/08/2012 2026-02-25 16:16:01.067526
15/05/2035      17/08/2012 2026-02-25 16:16:01.067837
15/08/2024      16/08/2012 2026-02-25 16:16:01.068150
15/05/2035      16/08/2012 2026-02-25 16:16:01.068491
15/05/2015      16/08/2012 2026-02-25 16:16:01.068818

[17857 rows x 9 columns]

In [15]:
#frames = [prefixado, ipca]
#todos = pd.concat(frames)
ipca = ipca.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})
prefixado = prefixado.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})

In [16]:
ipca

                            CompraManha  VendaManha  PUCompraManha  \
Data Vencimento Data Base
15/05/2015      15/08/2005         8.74        8.80         681.12
15/08/2024      15/08/2005         8.82        8.90         310.37
15/05/2015      12/08/2005         8.74        8.80         680.82
15/08/2024      12/08/2005         8.82        8.90         310.23
                11/08/2005         8.82        8.90         310.05
15/05/2015      11/08/2005         8.73        8.79         681.04
                26/07/2005         8.73        8.79         677.51
15/08/2024      26/07/2005         8.82        8.90         308.43
15/05/2015      25/07/2005         8.73        8.79         677.22
15/08/2024      25/07/2005         8.82        8.90         308.30
...                                 ...         ...            ...
15/05/2035      21/08/2012         4.48        4.58         803.72
15/05/2015      20/08/2012         3.15        3.19        1992.30
15/05/2035      20/08/2012         4.44        4.54         810.49
15/08/2024      20/08/2012         4.18        4.26        1329.65
                17/08/2012         4.21        4.29        1324.71
15/05/2015      17/08/2012         3.14        3.18        1992.35
15/05/2035      17/08/2012         4.46        4.56         806.74
15/08/2024      16/08/2012         4.15        4.23        1333.16
15/05/2035      16/08/2012         4.43        4.53         811.58
15/05/2015      16/08/2012         3.01        3.05        1998.26

                            PUVendaManha  PUBaseManha Data_Vencimento  \
Data Vencimento Data Base
15/05/2015      15/08/2005        677.48       677.18      2015-05-15
15/08/2024      15/08/2005        306.08       305.94      2024-08-15
15/05/2015      12/08/2005        677.18       676.73      2015-05-15
15/08/2024      12/08/2005        305.94       305.74      2024-08-15
                11/08/2005        305.76       305.64      2024-08-15
15/05/2015      11/08/2005        677.40       677.12      2015-05-15
                26/07/2005        673.87       673.58      2015-05-15
15/08/2024      26/07/2005        304.16       304.03      2024-08-15
15/05/2015      25/07/2005        673.58       673.30      2015-05-15
15/08/2024      25/07/2005        304.03       303.90      2024-08-15
...                                  ...          ...             ...
15/05/2035      21/08/2012        786.50       786.27      2035-05-15
15/05/2015      20/08/2012       1990.20      1989.71      2015-05-15
15/05/2035      20/08/2012        793.11       792.87      2035-05-15
15/08/2024      20/08/2012       1317.52      1317.15      2024-08-15
                17/08/2012       1312.63      1311.94      2024-08-15
15/05/2015      17/08/2012       1990.24      1989.28      2015-05-15
15/05/2035      17/08/2012        789.45       789.02      2035-05-15
15/08/2024      16/08/2012       1320.99      1320.62      2024-08-15
15/05/2035      16/08/2012        794.17       793.94      2035-05-15
15/05/2015      16/08/2012       1996.14      1995.66      2015-05-15

                            Data_Base  Tipo                  dt_update
Data Vencimento Data Base
15/05/2015      15/08/2005 2005-08-15  IPCA 2026-02-25 16:15:53.446347
15/08/2024      15/08/2005 2005-08-15  IPCA 2026-02-25 16:15:53.449422
15/05/2015      12/08/2005 2005-08-12  IPCA 2026-02-25 16:15:53.450494
15/08/2024      12/08/2005 2005-08-12  IPCA 2026-02-25 16:15:53.451385
                11/08/2005 2005-08-11  IPCA 2026-02-25 16:15:53.451854
15/05/2015      11/08/2005 2005-08-11  IPCA 2026-02-25 16:15:53.452254
                26/07/2005 2005-07-26  IPCA 2026-02-25 16:15:53.452642
15/08/2024      26/07/2005 2005-07-26  IPCA 2026-02-25 16:15:53.453165
15/05/2015      25/07/2005 2005-07-25  IPCA 2026-02-25 16:15:53.453661
15/08/2024      25/07/2005 2005-07-25  IPCA 2026-02-25 16:15:53.454116
...                               ...   ...                        ...
15/05/2035      21/08/2012 2012-08-21  IPCA 2026-02-25 16:16:01.065789
15/05/2015      20/08/2012 2012-08-20  IPCA 2026-02-25 16:16:01.066251
15/05/2035      20/08/2012 2012-08-20  IPCA 2026-02-25 16:16:01.066582
15/08/2024      20/08/2012 2012-08-20  IPCA 2026-02-25 16:16:01.066900
                17/08/2012 2012-08-17  IPCA 2026-02-25 16:16:01.067214
15/05/2015      17/08/2012 2012-08-17  IPCA 2026-02-25 16:16:01.067526
15/05/2035      17/08/2012 2012-08-17  IPCA 2026-02-25 16:16:01.067837
15/08/2024      16/08/2012 2012-08-16  IPCA 2026-02-25 16:16:01.068150
15/05/2035      16/08/2012 2012-08-16  IPCA 2026-02-25 16:16:01.068491
15/05/2015      16/08/2012 2012-08-16  IPCA 2026-02-25 16:16:01.068818

[17857 rows x 9 columns]

Grava os dados no Banco de Dados

In [17]:
connection_string = "postgresql://postgres:postgres@localhost:5432/postgres"

In [18]:
engine = create_engine(connection_string)

In [19]:
ipca.to_sql("dadostesouroipca", con=engine, if_exists="append", index=False)
prefixado.to_sql("dadostesouropre", con=engine, if_exists="append", index=False)

410